[project]
	description = Media Delivery (archived, read only)
	state = read only
[access]
	inheritFrom = All-Projects
[access "refs/for/refs/heads/*"]
	push = group Media Delivery
[access "refs/heads/*"]
	abandon = group Media Delivery
	create = group Media Delivery
	forgeAuthor = group Media Delivery
	label-Code-Review = -2..+2 group Media Delivery
	submit = group Media Delivery
	editTopicName = group Media Delivery
[access "refs/for/*"]
	pushMerge = group Media Delivery
[access "refs/meta/config"]
	read = group Media Delivery
[access "refs/tags/*"]
	pushTag = group Media Delivery
	pushSignedTag = group Media Delivery
[access "refs/for/refs/heads/feature/*"]
	pushMerge = group Media Delivery
	pushMerge = group Non-Interactive Users
[access "refs/*"]
	read = group GitHub Replication
